<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Online Medical Appointment</title>
</head>
    <body>
    <div class="container">
        <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/doctor}" class="btn btn-info" role="button">Go back forward</a>
        </div>
    </div>

    <div class="container">
<br>
        <h3>Successfully doctor registration!</h3>
        <br>
        <p>Congratulations:
            <b>
            <span th:if="${doctorName}" th:text="${doctorName}">Name</span>
            <span th:if="${doctorSurname}" th:text="${doctorSurname}">Surname</span>
            </b>
            Thank you for registration!</p>

        <p>    The code of your account is:
            <b>
                <span th:if="${doctorCode}" th:text="${doctorCode}">Doctor Code</span>
            </b>
        </p>
    </div>
    </div>
    </body>
</html>